{
    "layout": "1by6(test_long_long_long_name)",
    "keymap": {
        "DEFAULT": [
            [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6"
            ]
        ],
        "FN": [
            [
                "fn_1",
                "fn_2",
                "fn_3",
                "fn_4",
                "fn_5",
                "fn_6"
            ]
        ],
        "RAISE": [
            [
                "raise_1",
                "raise_2",
                "raise_3",
                "raise_4",
                "raise_5",
                "raise_6"
            ]
        ],
        "LOWER": [
            [
                "lower_1",
                "lower_2",
                "lower_3",
                "lower_4",
                "lower_5",
                "lower_6"
            ]
        ],
        "GAME": [
            [
                "game_1",
                "game_2",
                "game_3",
                "game_4",
                "game_5",
                "game_6"
            ]
        ],
        "GAME_FN": [
            [
                "game_fn_1",
                "game_fn_2",
                "game_fn_3",
                "game_fn_4",
                "game_fn_5",
                "game_fn_6"
            ]
        ],
        "GAME_RAISE": [
            [
                "game_raise_1",
                "game_raise_2",
                "game_raise_3",
                "game_raise_4",
                "game_raise_5",
                "game_raise_6"
            ]
        ],
        "GAME_LOWER": [
            [
                "game_lower_1",
                "game_lower_2",
                "game_lower_3",
                "game_lower_4",
                "game_lower_5",
                "game_lower_6"
            ]
        ]
    }
}