{
    "name": "1by6",
    "description": "1by6 keymap",
    "layout": "1by6",
    "mappingRule": [
        [
            "keymap",
            "default",
            "default",
            0
        ],
        [
            "keymap",
            "default",
            "default",
            1
        ],
        [
            "keymap",
            "default",
            "default",
            2
        ],
        [
            "keymap",
            "default",
            "default",
            3
        ],
        [
            "keymap",
            "default",
            "default",
            4
        ],
        [
            "keymap",
            "default",
            "default",
            5
        ],
        [
            "keymap",
            "default",
            "fn",
            0
        ],
        [
            "keymap",
            "default",
            "fn",
            1
        ],
        [
            "keymap",
            "default",
            "fn",
            2
        ],
        [
            "keymap",
            "default",
            "fn",
            3
        ],
        [
            "keymap",
            "default",
            "fn",
            4
        ],
        [
            "keymap",
            "default",
            "fn",
            5
        ],
        [
            "keymap",
            "default",
            "raise",
            0
        ],
        [
            "keymap",
            "default",
            "raise",
            1
        ],
        [
            "keymap",
            "default",
            "raise",
            2
        ],
        [
            "keymap",
            "default",
            "raise",
            3
        ],
        [
            "keymap",
            "default",
            "raise",
            4
        ],
        [
            "keymap",
            "default",
            "raise",
            5
        ],
        [
            "keymap",
            "default",
            "lower",
            0
        ],
        [
            "keymap",
            "default",
            "lower",
            1
        ],
        [
            "keymap",
            "default",
            "lower",
            2
        ],
        [
            "keymap",
            "default",
            "lower",
            3
        ],
        [
            "keymap",
            "default",
            "lower",
            4
        ],
        [
            "keymap",
            "default",
            "lower",
            5
        ],
        [
            "keymap",
            "game",
            "default",
            0
        ],
        [
            "keymap",
            "game",
            "default",
            1
        ],
        [
            "keymap",
            "game",
            "default",
            2
        ],
        [
            "keymap",
            "game",
            "default",
            3
        ],
        [
            "keymap",
            "game",
            "default",
            4
        ],
        [
            "keymap",
            "game",
            "default",
            5
        ],
        [
            "keymap",
            "game",
            "fn",
            0
        ],
        [
            "keymap",
            "game",
            "fn",
            1
        ],
        [
            "keymap",
            "game",
            "fn",
            2
        ],
        [
            "keymap",
            "game",
            "fn",
            3
        ],
        [
            "keymap",
            "game",
            "fn",
            4
        ],
        [
            "keymap",
            "game",
            "fn",
            5
        ],
        [
            "keymap",
            "game",
            "raise",
            0
        ],
        [
            "keymap",
            "game",
            "raise",
            1
        ],
        [
            "keymap",
            "game",
            "raise",
            2
        ],
        [
            "keymap",
            "game",
            "raise",
            3
        ],
        [
            "keymap",
            "game",
            "raise",
            4
        ],
        [
            "keymap",
            "game",
            "raise",
            5
        ],
        [
            "keymap",
            "game",
            "lower",
            0
        ],
        [
            "keymap",
            "game",
            "lower",
            1
        ],
        [
            "keymap",
            "game",
            "lower",
            2
        ],
        [
            "keymap",
            "game",
            "lower",
            3
        ],
        [
            "keymap",
            "game",
            "lower",
            4
        ],
        [
            "keymap",
            "game",
            "lower",
            5
        ]
    ],
    "keymap": {
        "default": {
            "default": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ]
        },
        "game": {
            "default": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                ]
            ]
        }
    }
}