{
    "name": "2by2",
    "description": "2by2 keymap",
    "layout": "2by2",
    "keymap": {
        "default": {
            "default": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ]
        },
        "game": {
            "default": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ]
        }
    }
}