{
    "name": "2by2_1",
    "description": "2by2 keymap",
    "layout": "2by2",
    "mappingRule": [
        [
            "keymap",
            "default",
            "default",
            0
        ],
        [
            "keymap",
            "default",
            "default",
            1
        ],
        [
            "keymap",
            "default",
            "fn",
            0
        ],
        [
            "keymap",
            "default",
            "fn",
            1
        ],
        [
            "keymap",
            "default",
            "raise",
            0
        ],
        [
            "keymap",
            "default",
            "raise",
            1
        ],
        [
            "keymap",
            "default",
            "lower",
            0
        ],
        [
            "keymap",
            "default",
            "lower",
            1
        ],
        [
            "keymap",
            "game",
            "default",
            0
        ],
        [
            "keymap",
            "game",
            "default",
            1
        ],
        [
            "keymap",
            "game",
            "fn",
            0
        ],
        [
            "keymap",
            "game",
            "fn",
            1
        ],
        [
            "keymap",
            "game",
            "raise",
            0
        ],
        [
            "keymap",
            "game",
            "raise",
            1
        ],
        [
            "keymap",
            "game",
            "lower",
            0
        ],
        [
            "keymap",
            "game",
            "lower",
            1
        ]
    ],
    "keymap": {
        "default": {
            "default": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "fn": [
                [
                    "FN",
                    "FN"
                ],
                [
                    "FN",
                    "FN"
                ]
            ],
            "raise": [
                [
                    "RAISE",
                    "RAISE"
                ],
                [
                    "RAISE",
                    "RAISE"
                ]
            ],
            "lower": [
                [
                    "LOWER",
                    "LOWER"
                ],
                [
                    "LOWER",
                    "LOWER"
                ]
            ]
        },
        "game": {
            "default": [
                [
                    "CHANGE_PROFILE",
                    "CHANGE_PROFILE"
                ],
                [
                    "CHANGE_PROFILE",
                    "CHANGE_PROFILE"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2"
                ],
                [
                    "3",
                    "4"
                ]
            ]
        }
    }
}