{
    "layout": "2by2",
    "keymap": {
        "DEFAULT": [
            [
                "1",
                "2"
            ],
            [
                "3",
                "4"
            ]
        ],
        "FN": [
            [
                "fn_1",
                "fn_2"
            ],
            [
                "fn_3",
                "fn_4"
            ]
        ],
        "RAISE": [
            [
                "raise_1",
                "raise_2"
            ],
            [
                "raise_3",
                "raise_4"
            ]
        ],
        "LOWER": [
            [
                "lower_1",
                "lower_2"
            ],
            [
                "lower_3",
                "lower_4"
            ]
        ],
        "GAME": [
            [
                "game_1",
                "game_2"
            ],
            [
                "game_3",
                "game_4"
            ]
        ],
        "GAME_FN": [
            [
                "game_fn_1",
                "game_fn_2"
            ],
            [
                "game_fn_3",
                "game_fn_4"
            ]
        ],
        "GAME_RAISE": [
            [
                "game_raise_1",
                "game_raise_2"
            ],
            [
                "game_raise_3",
                "game_raise_4"
            ]
        ],
        "GAME_LOWER": [
            [
                "game_lower_1",
                "game_lower_2"
            ],
            [
                "game_lower_3",
                "game_lower_4"
            ]
        ]
    }
}