{
    "name": "3by3",
    "description": "3by3 keymap",
    "layout": "3by3",
    "mappingRule": [
        [
            "keymap",
            "default",
            "default",
            0
        ],
        [
            "keymap",
            "default",
            "default",
            1
        ],
        [
            "keymap",
            "default",
            "default",
            2
        ],
        [
            "keymap",
            "default",
            "fn",
            0
        ],
        [
            "keymap",
            "default",
            "fn",
            1
        ],
        [
            "keymap",
            "default",
            "fn",
            2
        ],
        [
            "keymap",
            "default",
            "raise",
            0
        ],
        [
            "keymap",
            "default",
            "raise",
            1
        ],
        [
            "keymap",
            "default",
            "raise",
            2
        ],
        [
            "keymap",
            "default",
            "lower",
            0
        ],
        [
            "keymap",
            "default",
            "lower",
            1
        ],
        [
            "keymap",
            "default",
            "lower",
            2
        ],
        [
            "keymap",
            "game",
            "default",
            0
        ],
        [
            "keymap",
            "game",
            "default",
            1
        ],
        [
            "keymap",
            "game",
            "default",
            2
        ],
        [
            "keymap",
            "game",
            "fn",
            0
        ],
        [
            "keymap",
            "game",
            "fn",
            1
        ],
        [
            "keymap",
            "game",
            "fn",
            2
        ],
        [
            "keymap",
            "game",
            "raise",
            0
        ],
        [
            "keymap",
            "game",
            "raise",
            1
        ],
        [
            "keymap",
            "game",
            "raise",
            2
        ],
        [
            "keymap",
            "game",
            "lower",
            0
        ],
        [
            "keymap",
            "game",
            "lower",
            1
        ],
        [
            "keymap",
            "game",
            "lower",
            2
        ]
    ],
    "keymap": {
        "default": {
            "default": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ]
        },
        "game": {
            "default": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "fn": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "raise": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ],
            "lower": [
                [
                    "1",
                    "2",
                    "3"
                ],
                [
                    "4",
                    "5",
                    "6"
                ],
                [
                    "7",
                    "8",
                    "9"
                ]
            ]
        }
    }
}