{
    "name": "separate",
    "description": "separate keyboard.",
    "layout": "separate",
    "mappingRule": [
        [
            "keymap",
            "default",
            "default",
            0
        ],
        [
            "keymap",
            "default",
            "default",
            1
        ],
        [
            "keymap",
            "default",
            "default",
            2
        ],
        [
            "keymap",
            "default",
            "default",
            3
        ],
        [
            "keymap",
            "default",
            "default",
            4
        ],
        [
            "keymap",
            "default",
            "default",
            5
        ],
        [
            "keymap",
            "default",
            "default",
            6
        ],
        [
            "keymap",
            "default",
            "fn",
            0
        ],
        [
            "keymap",
            "default",
            "fn",
            1
        ],
        [
            "keymap",
            "default",
            "fn",
            2
        ],
        [
            "keymap",
            "default",
            "fn",
            3
        ],
        [
            "keymap",
            "default",
            "fn",
            4
        ],
        [
            "keymap",
            "default",
            "fn",
            5
        ],
        [
            "keymap",
            "default",
            "fn",
            6
        ],
        [
            "keymap",
            "default",
            "raise",
            0
        ],
        [
            "keymap",
            "default",
            "raise",
            1
        ],
        [
            "keymap",
            "default",
            "raise",
            2
        ],
        [
            "keymap",
            "default",
            "raise",
            3
        ],
        [
            "keymap",
            "default",
            "raise",
            4
        ],
        [
            "keymap",
            "default",
            "raise",
            5
        ],
        [
            "keymap",
            "default",
            "raise",
            6
        ],
        [
            "keymap",
            "default",
            "lower",
            0
        ],
        [
            "keymap",
            "default",
            "lower",
            1
        ],
        [
            "keymap",
            "default",
            "lower",
            2
        ],
        [
            "keymap",
            "default",
            "lower",
            3
        ],
        [
            "keymap",
            "default",
            "lower",
            4
        ],
        [
            "keymap",
            "default",
            "lower",
            5
        ],
        [
            "keymap",
            "default",
            "lower",
            6
        ],
        [
            "keymap",
            "game",
            "default",
            0
        ],
        [
            "keymap",
            "game",
            "default",
            1
        ],
        [
            "keymap",
            "game",
            "default",
            2
        ],
        [
            "keymap",
            "game",
            "default",
            3
        ],
        [
            "keymap",
            "game",
            "default",
            4
        ],
        [
            "keymap",
            "game",
            "default",
            5
        ],
        [
            "keymap",
            "game",
            "default",
            6
        ],
        [
            "keymap",
            "game",
            "fn",
            0
        ],
        [
            "keymap",
            "game",
            "fn",
            1
        ],
        [
            "keymap",
            "game",
            "fn",
            2
        ],
        [
            "keymap",
            "game",
            "fn",
            3
        ],
        [
            "keymap",
            "game",
            "fn",
            4
        ],
        [
            "keymap",
            "game",
            "fn",
            5
        ],
        [
            "keymap",
            "game",
            "fn",
            6
        ],
        [
            "keymap",
            "game",
            "raise",
            0
        ],
        [
            "keymap",
            "game",
            "raise",
            1
        ],
        [
            "keymap",
            "game",
            "raise",
            2
        ],
        [
            "keymap",
            "game",
            "raise",
            3
        ],
        [
            "keymap",
            "game",
            "raise",
            4
        ],
        [
            "keymap",
            "game",
            "raise",
            5
        ],
        [
            "keymap",
            "game",
            "raise",
            6
        ],
        [
            "keymap",
            "game",
            "lower",
            0
        ],
        [
            "keymap",
            "game",
            "lower",
            1
        ],
        [
            "keymap",
            "game",
            "lower",
            2
        ],
        [
            "keymap",
            "game",
            "lower",
            3
        ],
        [
            "keymap",
            "game",
            "lower",
            4
        ],
        [
            "keymap",
            "game",
            "lower",
            5
        ],
        [
            "keymap",
            "game",
            "lower",
            6
        ],
        [
            "keymap",
            "default",
            "default",
            7
        ],
        [
            "keymap",
            "default",
            "default",
            8
        ],
        [
            "keymap",
            "default",
            "default",
            9
        ],
        [
            "keymap",
            "default",
            "default",
            10
        ],
        [
            "keymap",
            "default",
            "default",
            11
        ],
        [
            "keymap",
            "default",
            "default",
            12
        ],
        [
            "keymap",
            "default",
            "default",
            13
        ],
        [
            "keymap",
            "default",
            "fn",
            7
        ],
        [
            "keymap",
            "default",
            "fn",
            8
        ],
        [
            "keymap",
            "default",
            "fn",
            9
        ],
        [
            "keymap",
            "default",
            "fn",
            10
        ],
        [
            "keymap",
            "default",
            "fn",
            11
        ],
        [
            "keymap",
            "default",
            "fn",
            12
        ],
        [
            "keymap",
            "default",
            "fn",
            13
        ],
        [
            "keymap",
            "default",
            "raise",
            7
        ],
        [
            "keymap",
            "default",
            "raise",
            8
        ],
        [
            "keymap",
            "default",
            "raise",
            9
        ],
        [
            "keymap",
            "default",
            "raise",
            10
        ],
        [
            "keymap",
            "default",
            "raise",
            11
        ],
        [
            "keymap",
            "default",
            "raise",
            12
        ],
        [
            "keymap",
            "default",
            "raise",
            13
        ],
        [
            "keymap",
            "default",
            "lower",
            7
        ],
        [
            "keymap",
            "default",
            "lower",
            8
        ],
        [
            "keymap",
            "default",
            "lower",
            9
        ],
        [
            "keymap",
            "default",
            "lower",
            10
        ],
        [
            "keymap",
            "default",
            "lower",
            11
        ],
        [
            "keymap",
            "default",
            "lower",
            12
        ],
        [
            "keymap",
            "default",
            "lower",
            13
        ],
        [
            "keymap",
            "game",
            "default",
            7
        ],
        [
            "keymap",
            "game",
            "default",
            8
        ],
        [
            "keymap",
            "game",
            "default",
            9
        ],
        [
            "keymap",
            "game",
            "default",
            10
        ],
        [
            "keymap",
            "game",
            "default",
            11
        ],
        [
            "keymap",
            "game",
            "default",
            12
        ],
        [
            "keymap",
            "game",
            "default",
            13
        ],
        [
            "keymap",
            "game",
            "fn",
            7
        ],
        [
            "keymap",
            "game",
            "fn",
            8
        ],
        [
            "keymap",
            "game",
            "fn",
            9
        ],
        [
            "keymap",
            "game",
            "fn",
            10
        ],
        [
            "keymap",
            "game",
            "fn",
            11
        ],
        [
            "keymap",
            "game",
            "fn",
            12
        ],
        [
            "keymap",
            "game",
            "fn",
            13
        ],
        [
            "keymap",
            "game",
            "raise",
            7
        ],
        [
            "keymap",
            "game",
            "raise",
            8
        ],
        [
            "keymap",
            "game",
            "raise",
            9
        ],
        [
            "keymap",
            "game",
            "raise",
            10
        ],
        [
            "keymap",
            "game",
            "raise",
            11
        ],
        [
            "keymap",
            "game",
            "raise",
            12
        ],
        [
            "keymap",
            "game",
            "raise",
            13
        ],
        [
            "keymap",
            "game",
            "lower",
            7
        ],
        [
            "keymap",
            "game",
            "lower",
            8
        ],
        [
            "keymap",
            "game",
            "lower",
            9
        ],
        [
            "keymap",
            "game",
            "lower",
            10
        ],
        [
            "keymap",
            "game",
            "lower",
            11
        ],
        [
            "keymap",
            "game",
            "lower",
            12
        ],
        [
            "keymap",
            "game",
            "lower",
            13
        ]
    ],
    "keymap": {
        "default": {
            "default": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "RAISE",
                    "RIGHT_SHIFT",
                    "DELETE",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "P",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "fn": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "MUTE_SOUND",
                    "VOLUME_DOWN",
                    "VOLUME_UP",
                    "NONE"
                ],
                [
                    "CHANGE_COLOR",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "RAISE",
                    "RIGHT_SHIFT",
                    "DELETE",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "MUTE_SOUND",
                    "VOLUME_DOWN",
                    "VOLUME_UP",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "HOME"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "P",
                    "[",
                    "PAGE_UP"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "PAGE_DOWN"
                ],
                [
                    "]",
                    "N",
                    "MAIL",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "END"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "raise": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "RAISE",
                    "RIGHT_SHIFT",
                    "DELETE",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "HOME",
                    "PAGE_UP",
                    "ARROW_UP",
                    "PAGE_DOWN",
                    "END",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "lower": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "MOUSE_UP",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "MOUSE_LEFT",
                    "MOUSE_DOWN",
                    "MOUSE_RIGHT",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "RAISE",
                    "MOUSE_LEFT_CLICK",
                    "MOUSE_WHEEL_UP",
                    "MOUSE_WHEEL_DOWN"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "MOUSE_RIGHT_CLICK",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "P",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ]
        },
        "game": {
            "default": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "C",
                    "RIGHT_SHIFT",
                    "M",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "P",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "fn": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "MUTE_SOUND",
                    "VOLUME_DOWN",
                    "VOLUME_UP",
                    "NONE"
                ],
                [
                    "CHANGE_COLOR",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "C",
                    "RIGHT_SHIFT",
                    "M",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "MUTE_SOUND",
                    "VOLUME_DOWN",
                    "VOLUME_UP",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "HOME"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "PRINT_SCREEN",
                    "[",
                    "PAGE_UP"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "PAGE_DOWN"
                ],
                [
                    "]",
                    "N",
                    "MAIL",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "END"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "raise": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "E",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "S",
                    "D",
                    "F",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "C",
                    "RIGHT_SHIFT",
                    "M",
                    "____"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "SPACE",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "HOME",
                    "PAGE_UP",
                    "ARROW_UP",
                    "PAGE_DOWN",
                    "END",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ],
            "lower": [
                [
                    "ESCAPE",
                    "F1",
                    "F2",
                    "F3",
                    "F4",
                    "F5",
                    "F6",
                    "NONE"
                ],
                [
                    "`",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "NONE"
                ],
                [
                    "TAB",
                    "Q",
                    "W",
                    "MOUSE_UP",
                    "R",
                    "T",
                    "(",
                    "NONE"
                ],
                [
                    "CAPS_LOCK",
                    "A",
                    "MOUSE_LEFT",
                    "MOUSE_DOWN",
                    "MOUSE_RIGHT",
                    "G",
                    "{",
                    "NONE"
                ],
                [
                    "LEFT_SHIFT",
                    "Z",
                    "X",
                    "C",
                    "V",
                    "B",
                    "[",
                    "NONE"
                ],
                [
                    "LEFT_CONTROL",
                    "LEFT_GUI",
                    "FN",
                    "LEFT_ALT",
                    "C",
                    "RIGHT_SHIFT",
                    "M",
                    "MOUSE_WHEEL_DOWN"
                ],
                [
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "MOUSE_RIGHT_CLICK",
                    "NONE"
                ],
                [
                    "F7",
                    "F8",
                    "F9",
                    "F10",
                    "F11",
                    "F12",
                    "DUAL_CONNECT_MODE",
                    "CHANGE_PROFILE"
                ],
                [
                    "\\",
                    "7",
                    "8",
                    "9",
                    "0",
                    "-",
                    "=",
                    "BACKSPACE"
                ],
                [
                    ")",
                    "Y",
                    "U",
                    "I",
                    "O",
                    "P",
                    "[",
                    "]"
                ],
                [
                    "}",
                    "H",
                    "J",
                    "K",
                    "L",
                    ";",
                    "'",
                    "ENTER"
                ],
                [
                    "]",
                    "N",
                    "M",
                    ",",
                    ".",
                    "/",
                    "ARROW_UP",
                    "RIGHT_SHIFT"
                ],
                [
                    "BACKSPACE",
                    "LEFT_SHIFT",
                    "LOWER",
                    "RIGHT_ALT",
                    "FN",
                    "ARROW_LEFT",
                    "ARROW_DOWN",
                    "ARROW_RIGHT"
                ],
                [
                    "ENTER",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE",
                    "NONE"
                ]
            ]
        }
    }
}