
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.dropdown-menu {
    position: absolute;
    display: none;
    z-index: 1000;
    background-color: #fff;
    border: solid 1px #ccc;
    list-style: none;
    text-align: left;
    left: auto;
    right: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    top: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-item {
    padding: 3px 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
}

#keyboard-menu {
    border-bottom: solid 1px #ccc;
    padding: 10px 5px 10px;
}

.menu-item {
    position: relative;
}



#keyboard-menu button {
    padding: 6px 12px;
    line-height: 1.42;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#keyboard-menu #select-layout-button, #select-keymap-button {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#keyboard-menu #select-layout-button:hover, #select-keymap-button:hover {
    background-color: #eee !important;
    cursor: pointer;
} 

#keyboard-menu #select-layout, #select-keymap {
    display: inline-block;
}

#keyboard-menu #save-keymap, #write-keymap {
    float: right;
}

#keyboard-menu #save-keymap-button, #write-keymap-button {
    margin: 0 2px;
    color: #fff;
    background-color: #5cb85c;
    border: solid 1px #4cae4c;
    border-radius: 4px;
}

#keyboard-menu #save-keymap-button:hover, #write-keymap-button:hover{
    background-color: #449d44;
    cursor: pointer;
}





#keyboard {
    margin: 5px;
    padding: 4px;
    border: dashed 1px #ddd;
}

#keyboard div {
    position: absolute;
    background-clip: border-box;
    box-sizing: border-box;
}

#keyboard #keyboard-bg {
    position: inherit;
    background-color: #e7e7e7;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 6px;
    box-sizing: content-box;
    
}



#key-property {
    position: relative;
    margin: 5px;
}

#key-property-menu {
    position: relative;
    display: block;
}

#key-property-menu #key-property-menu-list {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}

#key-property-menu .key-property-menu-item{
    display: inline-block;
    background-color: white;
    position: relative;
    padding: 6px 12px;
    margin-bottom: -1px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

#key-property-menu .key-property-menu-item:hover {
    background-color: #eee;
}

#key-property-menu .active {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid transparent;
}

#key-property-body {
    margin-top: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
